/*CSS Reset*/
* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}

#jespic {
	height: 15rem;
	margin-top: 20px;
	border-radius: 50%;
}

#para1 {
	font-size: 13px;
	word-spacing: 5px;
	line-height: 15px;
}

#heading1 {
	font-size: 20px;
	line
}

#heading2 {
	font-size: 25px;
}

#container1 {
	display: grid;
	justify-content: center;
	grid-template-areas: "header header" "sidebar content" "sidebar content";


}

.grid-item-1 {
	grid-area: header;
	justify-self: center;
}

.grid-item-2 {
	grid-area: sidebar;
}

.grid-item-3 {
	grid-area: content;
}
